# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1
POSTGRES_DB=ghost_drive
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=ghost-drive

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here

# Application Configuration
PORT=3000
NODE_ENV=development
